.password-requirements {
  .requirements-list {
    li {
      &.valid {
        color: var(--success);
        
        &::before {
          content: '✓';
          color: var(--success);
        }
      }
    }
  }
}