<app-newsletter></app-newsletter>

<footer class="footer">
  <div class="footer-content">
    <div class="footer-section">
      <h4>Contato</h4>
      <p>Rua Dr. José Martins, 111, Sala 03</p>
      <p>Centro, Sorocaba, SP</p>
      <p>(15) 99835-0750</p>
      <p>contato&#64;revistadogcat.com.br</p>
    </div>
    <div class="footer-section">
      <h4>Redes Sociais</h4>
      <div class="social-links">
        <a [href]="socialMedia.instagram.url" target="_blank">{{ socialMedia.instagram.displayName }}</a>
        <a [href]="socialMedia.facebook.url" target="_blank">{{ socialMedia.facebook.displayName }}</a>
        <a [href]="socialMedia.tiktok.url" target="_blank">{{ socialMedia.tiktok.displayName }}</a>
        <a [href]="socialMedia.whatsapp.url" target="_blank">{{ socialMedia.whatsapp.displayName }}</a>
      </div>
    </div>
    <div class="footer-section">
      <h4>Links Rápidos</h4>
      <ul>
        <li><a href="#">Planos de Assinatura</a></li>
        <li><a href="#">Edição do Mês</a></li>
        <li><a href="#">Expo Dog BR</a></li>
        <li><a href="#">Top Canis</a></li>
        <li><a href="#">Top Gatis</a></li>
        <li><a href="#">Área do Leitor</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>© 2025 Revista Dog & Cat BR - Todos os direitos reservados</p>
    <p>GRÁFICA E EDITORA: PARATODOS</p>
  </div>
  
  <!-- Faixa CodeDevs -->
  <div class="codedevs-banner">
    <p>Desenvolvido com <span class="heart">❤️</span> por <span class="codedevs-text">CodeDevs</span></p>
  </div>
</footer>
