<div class="home-container">
  <header class="header row">
    <div class="col-8 d-flex flex-column align-items-center p-5 justify-content-between">
      <div class="destaque d-flex align-items-center justify-content-center">
        <span>foto de destaque de pets</span>
      </div>
      <div class="col-8 d-flex flex-column align-items-baseline">
        <img src="./logo.png" width="400px" alt="Logo DogCat" class="img-fluid mb-3">
        <p class="w-100">Seu portal de conteúdo para cães e gatos</p>
        <a class="btn-primary mt-2" href="#">Acesse as Edições</a>
      </div>
    </div>
    <div class="col-4 d-flex align-items-center">
      <img class="img-fluid" src="./capa.png" width="500" alt="Logo DogCat">
    </div>
  </header>
</div>

<app-destaque-edicao />

<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <img src="./sobre-nos.png" class="img-fluid" alt="Imagem Sobre Nós">
      </div>
      <div class="col-12 col-md-8">
        <h2>Sobre Nós</h2>
        <p>Revista DogCat é a sua fonte confiável de informações sobre cuidados, saúde e bem-estar de cães e gatos. Nossa missão é educar e entreter amantes de pets com conteúdo de qualidade.</p>
        <p>Com uma equipe de especialistas e apaixonados por animais, trazemos dicas práticas, histórias inspiradoras e as últimas novidades do mundo pet.</p>
        <a class="btn-secondary" href="#">Saiba Mais</a>
      </div>
    </div>
  </div>
</section>



<app-metrics />



<app-footer />
